/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

/* Section-1 MacBook Pro Starts */

.macBookpro h1 {
  font-size: 65px;
}

.macBookpro h2 {
  font-size: 40px;
  font-weight: 500;
}
.learnMore ul li a {
  color: #06c;
  text-decoration: none;
  font-size: 20px;
}

.learnMore ul li a:hover {
  color: #06c;
  text-decoration: underline;
}

.learnMore ul li a::after {
  font-family: "fontawesome";
  content: "\f105";
  font-weight: 900;
  padding-left: 10px;
  text-decoration: none;
}
.learnMore ul li a:hover::after {
  text-decoration: none;
}

/*  Section-1 MacBook Pro Ends*/

/*Section-2 Iphone11 Pro Starts*/

.iphone11Pro {
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  text-align: center;
  color: #fff;
}

.Pro {
  font-size: 56px;
}

.description {
  font-size: 26px;
  padding: 10px 0px;
}

.price {
  color: #86868b;
  font-size: 1.25em;
  padding: 10px 0px;
}

/*  Section 2 Iphone11 Pro Ends*/

.iphone11 {
  background-image: url("../images/home/iphone11-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/*  Section 3 Iphone11 Ends*/

/* Section 4 Watches Starts */

.left {
  background-image: url("../images/home/watch-series-5.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.right {
  background-image: url("../images/home/apple-card.jpg");
  height: 580px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.notes {
  font-size: 20px;
}

/* Section 4 Watches Ends */

/* Section 5 Watches Starts */

.left {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.tvs .left {
  background-image: url("../images/home/apple-tv-background.jpg");
  background-position: center;
}

.right {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.tvs .right {
  background-image: url("../images/home/air-pods.jpg");
  background-position: bottom;
  background-size: initial;
  background-color: #000;
}

.Logo1 {
  font-size: 48px;
  font-weight: bold;
}

.Logo2 {
  padding: 180px 0 200px;
}

.trailer a {
  font-size: 1em;
  text-decoration: none;
}

.trailer a::after {
  font-family: "Fontawesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
  text-decoration: none;
}

.airPods {
  font-weight: 600;
  font-size: 56px;
  color: #fff;
}

.magic {
  font-size: 26px;
  padding: 10px 0px;
  color: #fff;
}
/* Section 5 Watches Ends */

/* Section 6 Ipad Starts */

.ipads .left{
  background-image: url("../images/home/macbook-pro.jpg");
  background-position:bottom;
  background-size: initial;
  background-color:#f5f5f7;
 
}

.ipads .right{
  background-image: url("../images/home/new-ipad.jpg");
  background-position: bottom;

}

.inotes{
  font-size: 26px;
  
 
}
/* Section 6 Ipad Ends */

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
